@model Samochod

<h2>Dodaj samochód</h2>

<form asp-action="Create" method="post">
    <span asp-validation-summary="All" class="text-danger"></span>
    @Html.AntiForgeryToken()

    <span asp-validation-summary="All" class="text-danger"></span>

    <div class="form-group">
        <label asp-for="Marka"></label>
        <input asp-for="Marka" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CenaZaDzien"></label>
        <input asp-for="CenaZaDzien" type="number" class="form-control" />
    </div>

    <div class="form-check">
        <input asp-for="Dostepny" class="form-check-input" />
        <label asp-for="Dostepny" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}