@model Samochod

<h2>Usuń samochód</h2>

<p>Czy na pewno chcesz usunąć ten samochód?</p>

<strong>@Model.Marka @Model.Model</strong>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <br />
    <button class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>