@model IEnumerable<Samochod>

<h2>Dostępne samochody</h2>

<table class="table">
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Marka @s.Model</td>
            <td>@s.CenaZaDzien zł / dzień</td>
            <td>
                <form asp-action="Zarezerwuj" method="post" class="form-inline">
                    <input type="hidden" name="samochodId" value="@s.Id" />
                    <div class="input-group">
                        <input type="number" name="dni" min="1" value="1" class="form-control" style="width:100px" />
                        <div class="input-group-append">
                            <button class="btn btn-success">Zarezerwuj</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    }
</table>